In [1]:
import pandas as pd

melbourne_file_path = 'C:/Users/asus/Anaconda3/Dhoni/Project/data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['id', 'diagnosis', 'radius_mean', 'texture_mean', 'perimeter_mean',
       'area_mean', 'smoothness_mean', 'compactness_mean', 'concavity_mean',
       'concave points_mean', 'symmetry_mean', 'fractal_dimension_mean',
       'radius_se', 'texture_se', 'perimeter_se', 'area_se', 'smoothness_se',
       'compactness_se', 'concavity_se', 'concave points_se', 'symmetry_se',
       'fractal_dimension_se', 'radius_worst', 'texture_worst',
       'perimeter_worst', 'area_worst', 'smoothness_worst',
       'compactness_worst', 'concavity_worst', 'concave points_worst',
       'symmetry_worst', 'fractal_dimension_worst', 'Unnamed: 32'],
      dtype='object')

In [2]:
y = melbourne_data.radius_mean

In [3]:
melbourne_features = ['perimeter_mean', 'texture_mean', 'area_mean','smoothness_mean','compactness_mean']

In [4]:
X = melbourne_data[melbourne_features]

In [5]:
X.describe()

,perimeter_mean,texture_mean,area_mean,smoothness_mean,compactness_mean
count,569.000000,569.000000,569.000000,569.000000,569.000000
mean,91.969033,19.289649,654.889104,0.096360,0.104341
std,24.298981,4.301036,351.914129,0.014064,0.052813
min,43.790000,9.710000,143.500000,0.052630,0.019380
25%,75.170000,16.170000,420.300000,0.086370,0.064920
50%,86.240000,18.840000,551.100000,0.095870,0.092630
75%,104.100000,21.800000,782.700000,0.105300,0.130400
max,188.500000,39.280000,2501.000000,0.163400,0.345400

In [6]:
X.head()

   perimeter_mean  texture_mean  area_mean  smoothness_mean  compactness_mean
0          122.80         10.38     1001.0          0.11840           0.27760
1          132.90         17.77     1326.0          0.08474           0.07864
2          130.00         21.25     1203.0          0.10960           0.15990
3           77.58         20.38      386.1          0.14250           0.28390
4          135.10         14.34     1297.0          0.10030           0.13280

In [7]:
#Building model menggunakan Decision Tree
from sklearn.tree import DecisionTreeRegressor
melbourne_model = DecisionTreeRegressor(random_state=1)
# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [10]:
#Memprediksi dgn data teratas
print("Making Prediction:")
print(X.head())
print("Prediction are")
print(melbourne_model.predict(X.head()))

Making Prediction:
   perimeter_mean  texture_mean  area_mean  smoothness_mean  compactness_mean
0          122.80         10.38     1001.0          0.11840           0.27760
1          132.90         17.77     1326.0          0.08474           0.07864
2          130.00         21.25     1203.0          0.10960           0.15990
3           77.58         20.38      386.1          0.14250           0.28390
4          135.10         14.34     1297.0          0.10030           0.13280
Prediction are
[17.99 20.57 19.69 11.42 20.29]

# Menggunakan data covid19

In [25]:
# 1. Harus melakukan pembersihan data nya terlebih dahulu dari nilai null
# import pandas as pd 
# datac = pd.read_csv("C:/Users/asus/Anaconda3/Dhoni/datac.csv")
# datac.isna() #Memastikan apakah data memiliki nilai null, secara table
# datac.isnull().sum() # Mengetahui jumlah null dari setiap column
# datac = datac.dropna() #Membersihkan data dari niai null
# datac.isnull().sum() #Memastikan kembali sudah tidak ada nilai null
# datac.to_csv("C:/Users/asus/Anaconda3/DSU/kapal_clean.csv", index=-False) #Menyimpan data baru yang suah bersih

# SELANJUTNYA MELAKUKAN TAHAP BUILD MODELLING DAN PREDIKSI MENGGUNAKAN SCIKIT-LEARN

In [2]:
import pandas as pd

covid_file_path = 'C:/Users/asus/Anaconda3/DSU/datac.csv'
covid_data = pd.read_csv(covid_file_path) 
covid_data.columns

# datac = pd.read_csv('C:/Users/asus/Anaconda3/DSU/datac.csv')
# datac.columns

Index(['Kasus', 'Kematian', 'Sembuh'], dtype='object')

In [4]:
y = covid_data.Kasus

In [5]:
covid_features = ['Kematian', 'Sembuh']

In [6]:
X = covid_data[covid_features]

In [7]:
X.head()

   Kematian  Sembuh
0         4       1
1         2       1
2        46      25
3        11       5
4         3       3

In [8]:
X.describe().T

          count  mean        std  min  25%  50%   75%   max
Kematian    5.0  13.2  18.673511  2.0  3.0  4.0  11.0  46.0
Sembuh      5.0   7.0  10.198039  1.0  1.0  3.0   5.0  25.0

In [10]:
#Building model
from sklearn.tree import DecisionTreeRegressor
covid_model = DecisionTreeRegressor(random_state=1)
# Fit model
covid_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [11]:
#Menampilkan hasil prediksi nya
print("Making Prediction:")
print(X.head())
print("Prediction are")
print(covid_model.predict(X.head()))

Making Prediction:
   Kematian  Sembuh
0         4       1
1         2       1
2        46      25
3        11       5
4         3       3
Prediction are
[ 67.  16. 515.  78.  59.]